CompileFlags:
    Add:
        - "--std:c++20"
        - "-I../include/"
        - "-I../src/"
        - "-I../deps/SDL/include/"
        - "-I../deps/imgui/"
        - "-I../deps/imgui/misc/cpp/"
        - "-I../deps/imgui/backends/"
        - "-I../deps/implot/"
        - "-I../deps/implot3d/"
        